## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [6]:
import datetime
today = datetime.datetime.now()

print(today)

2022-08-16 00:12:12.718244

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [22]:
import math
def area_circle(radius):
    area = math.pi*radius**2
    return area
    

print(area_circle(3))

28.274333882308138

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [21]:
def unique(numbers):
    unique_set = set(numbers)
    if len(numbers) == len(unique_set):
        return True
    else:
        return False
 
my_list = [1,2,3,4,2]
print(unique(my_list))

False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [34]:
import collections
import pprint
path_to_file = 'data/lil-wayne.txt'

with open(path_to_file, 'r') as info:
  count = collections.Counter(info.read().upper())
  value = pprint.pformat(count)
print(value)

Counter({' ': 522,
         'E': 274,
         'A': 211,
         'I': 185,
         'T': 180,
         'N': 165,
         'R': 152,
         'S': 152,
         'O': 145,
         'L': 126,
         'H': 122,
         'M': 77,
         'D': 74,
         'U': 66,
         'W': 63,
         'C': 60,
         'B': 59,
         'G': 53,
         'Y': 44,
         'F': 44,
         'P': 39,
         ',': 37,
         '0': 36,
         '1': 28,
         '.': 26,
         '2': 24,
         'V': 20,
         '9': 16,
         '[': 14,
         ']': 14,
         'K': 13,
         '(': 12,
         ')': 12,
         'J': 8,
         '7': 7,
         '8': 6,
         '\n': 6,
         '-': 6,
         'X': 5,
         '5': 5,
         '4': 4,
         '6': 3,
         '3': 2,
         ';': 1,
         '!': 1,
         '—': 1})

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [47]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]
x = list1.pop(3)
result = x*list1[-1]
list1.append(result)


print(list1)

[1, 1, 2, 5, 8, 13, 21, 63]

In [3]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

## #7 Reverse the list below

In [51]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
original_list.reverse()
print(original_list)

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [53]:
original_list = [1, 2, 3, 4, 5, 6, 7]

for i in range(len(original_list)):
    original_list[i] = original_list[i]**2
print(original_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [56]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()
for i in range(len(list1)):
    print(list1[i],list2[i])

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [60]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']
while('' in list_of_strings):
    list_of_strings.remove('')
print(list_of_strings)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [65]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}
if 999 in sample_dict.values():
    print(True)
else:
    print(False)

True

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [71]:
import pandas as pd

df = pd.read_csv(filepath_or_buffer='data/titanic.csv')

29.69911764705882

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [72]:
mean = df['age'].mean()
print(mean)

29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [75]:
oldest = df['age'].max()
print(oldest)
youngest = df['age'].min()
print(youngest)

80.0
0.42

## How many people embarked from station 'S'?

In [79]:
embarked = df['embarked'].value_counts()
print(embarked['S'])

644